<div class="card mb-3">
  <img src=".." class="card-img-top" alt="product">
  <div class="card-body">
    <h5 class="card-title"><%= @service.product_name %></h5>
    <p class="card-text"><%= @service.description %></p>
    <p class="card-text"><small class="text-muted"><%= @service.price %></small></p>
  </div>
</div>
