<div class="card m-5">
  <% @bookings.each do |booking| %>
    <h2><%= booking.service.product_name %></h2>
    <p><%= booking.service.description %></p>
    <p>Pagina sigue en proceso</p>
  <% end %>
</div>
