<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbs.dreamstime.com/b/biometric-scanner-fingerprint-scan-cyber-security-concept-banner-account-control-password-fingerprint-biometric-biometric-199555166.jpg);">
  <div class="container">
    <h1>Con <strong>Digi</strong>Bnb <strong>compartes</strong>!</h1>
    <p>Intercambia y sacale provecho a tus cuentas digitales.</p>
    <% if user_signed_in? %>
        <h2></h2>
      <% else %>
        <%= link_to "Regístrate", new_user_registration_path, class: " sign btn" %>
      <% end %>
  </div>
</div>
