<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://dplnews.com/wp-content/uploads/2021/08/dplnews_netflix_vr310821.jpeg)">
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pcmag.com/imagery/roundups/060GvAVdNSh0T8SJNPAInm4-1.fit_lim.size_1200x630.v1571708674.jpg)">
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/DT5TFJNMMNDV3IA3BCOBQS4IPI.jpg)">
  </div>
</div>
