<%= render "shared/banner" %>

<div class="container text-center mt-4 mb-10">
  <h1>Somos DigiBnb</h1>
  <p class="m-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo necessitatibus error eveniet, molestiae quidem placeat quia esse, porro eligendi ipsa nihil libero. Rem eos voluptatibus tenetur impedit error id quaerat!
  Nihil optio qui consectetur natus expedita! Labore iure autem corporis expedita accusantium repudiandae maxime accusamus sed maiores incidunt voluptatum consequuntur recusandae quos mollitia, eos, debitis ratione officia ea! Cumque, consectetur?
  Recusandae repellat suscipit numquam enim itaque, repudiandae quod cum quasi obcaecati quibusdam tempore animi, possimus maxime, iusto asperiores magnam commodi expedita! Consequatur cupiditate facilis blanditiis quis optio, enim dolor dolorum.
  Fugiat repellendus porro dolorum illo placeat ullam, exercitationem fugit excepturi voluptatem quos totam laborum dicta ducimus voluptatibus. Ullam libero nemo repudiandae cupiditate quas vel sunt laboriosam, facere, sit quod perferendis?
  Neque maxime, illum alias deleniti quam veritatis animi eos aliquid sed magnam vero enim sequi iusto nobis soluta quaerat ratione odit voluptate ea quos ad perferendis minima consectetur eligendi. Inventore.</p>

  <%= render "shared/card-home" %>

  <div class="container mt-5 mb-5 text-center">
    <%= link_to "Regístrate", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
