<div>
  <div class="container text-center mb-10">
    <h1 class="digibnb-title">Somos DigiBnb</h1>
    <span class="animation-text">¡Disfruta las plataformas digitales al máximo!</span>
    <%# <%= render "shared/banner" %>

    <%= render "shared/card-home" %>

    <p class="home-text">En nuestra app puedes contratar distintos servicios de streaming por el tiempo que desees a través de otros usuarios y sin pagar mensual o anualmente planes multiples que no usarás!.</p>

    <div class="container mt-5 mb-5 text-center">
      <% if user_signed_in? %>
        <h2></h2>
      <% else %>
        <%= link_to "Regístrate", new_user_registration_path, class: "btn-home" %>
      <% end %>
    </div>
  </div>
</div>
