// .card-product {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   border-radius: 5px;
// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }

//SHOW INDEX

.cards_container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  overflow: auto;
  justify-content: center;
}

.contain-img {
  min-height: 100vh;
  background: linear-gradient(rgba(139, 137, 137, 0.8), rgba(139, 137, 137, 0.6)), url('home-page-image.jpg') no-repeat center center;
  background-size: cover;
}


//BOOKINGS INDEX

.main-container {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.profile-info {
  display: flex;
  justify-content: center;
  background-color: rgba(250, 250, 250, 0.7);
}

.profile-info div {
  margin-left: 20px;
}

.profile-info h2 {
  font-weight: bold;
  font-size: 60px;
}

.profile-info img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-activity {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: space-between;
}

.services {
  h2 {
    padding: 10px;
    font-weight: bolder;
  }
  overflow-y: scroll;
  min-height: 400px;
  border-radius: 15px;
}

.bookings {
  h2 {
    padding: 10px;
    font-weight: bolder;
  }
  overflow-y: scroll;
  min-height: 400px;
  border-radius: 15px;
}
